<html>
  <head>
     <title>Demo Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>UVengers time machine for stocks</h2>
      </center>
    </div>

  
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

{% for message in messages %}
    {% if "Error" not in message[1]: %}
        <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
        </div>
    {% endif %}

    {% if "Error" in message[1]: %}
        <div class="alert alert-danger">
        <strong>Error: </strong> {{ message[1] }}
        </div>
    {% endif %}
  {% endfor %}
      {% endif %}
  {% endwith %}

    <div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

          <label for="company">Company:</label>
          <input type="text" class="form-control" id="company" name="company" placeholder="company name" placeholder="Company?">
            <br>
          <label for="code">Code:</label>
          <input type="text" class="form-control" id="code" name="code" placeholder="Company Code?">
	    <br>
	  <label for="main_handles">Tweeter handles  :</label>
    <input type="text" class="form-control" id="main_handles" name="main_handles" placeholder="Imp tweeter handles...@microsoft">
      <br>
    <label for="other_handles">Related handles  :</label>
    <input type="text" class="form-control" id="other_handles" name="other_handles" placeholder="Other news tweeter handles...@techcruch">
      <br>
    <label for="keywords">Keywords  :</label>
    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Related Keywords for filtering">

    <br>
    <label for="related">Related Companies  :</label>
    <input type="text" class="form-control" id="related" name="related" placeholder="related companies code (AMZN,GOOG,...)">
      <br>
    <label for="date">Date  :</label>
    <input type="date" class="datepicker" id="date" name="date" type="text" placeholder="yyyy-mm-dd">
    <br>
    <br>
    <label for="prediction_id">Prediction id  :</label>
    <input type="text" class="form-control" id="prediction_id" name="prediction_id" placeholder="Give Unique ID">
         
	</div>
        <br>													   

        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>

      <br>


    </div>
    <br>
    </div>
    </div>
  </body>
</html>
